RewriteOptions inherit
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://news.mhanam.com/$1 [R,L]
AddHandler application/x-httpd-alt-php56___lsphp .php